.header{
    background-color: aqua;
    text-align: center;
}

.footer{
    background-color: beige;
    text-align: center;
}

.newc{
    text-align: center;
}

form{
    padding: 5px;
    display: none;
}

input{
    margin: 5px;
}

.cards{
    display: flex;
}

.card{
    width: 300px;
    margin: 5px;
    padding: 3px;
    background-color: aqua;
    border: 1px solid black;
}

.readButton{
    margin-left: 125px;
}

.remButton{
    margin-left: 275px;
}